.row {
  display: flex;
}

.row div {
  width: 200px;
  height: 200px;
  background-color: blanchedalmond;
  color: blanchedalmond;
  border: 10px solid black;
  font-family: fantasy;
  font-size: 150px;
  text-align: center;
}

.row div:hover{
  width: 200px;
  height: 200px;
  background-color: orange;
  color: orange;
  border: 10px solid black;
}