.row {
  display: flex;
}

.row div {
  width: 150px;
  height: 150px;
  background-color: blanchedalmond;
  color: blanchedalmond;
  border: 10px solid black;
  font-family: fantasy;
  font-size: 100px;
  text-align: center;
}

.row div:hover{
  width: 150px;
  height: 150px;
  background-color: orange;
  color: orange;
  border: 10px solid black;
}

#reset-button {
  height: 50px;
  width: 100px;
  font-size: 30px;
}