.row {
  display: flex;
}

.row div {
  width: 100px;
  height: 100px;
  background-color: blanchedalmond;
  color: blanchedalmond;
  border: 10px solid black;
  font-family: fantasy;
  font-size: 90px;
  text-align: center;
}

.row div:hover{
  background-color: orange;
  color: orange;
  border: 10px solid black;
}

#reset-button {
  height: 30px;
  width: 100px;
  font-size: 20px;
}

input {
  height: 30px;
  width: 250px;
  font-size: 20px;
}